{% if post.layout != post %}
  {% assign words = post.content | strip_html | number_of_words %}
  {% if words < 180 %}
   lectura de menos de 1 minuto
  {% elsif words < 360 %}
   lectura de 1 minuto
  {% else %}
    lectura de {{ words | divided_by:180 }} minuto
  {% endif %}
{% endif %}

{% if post.layout == post %}
  {% assign words = content | number_of_words %}
  {% if words < 180 %}
    lectura de menos de 1 minuto
  {% elsif words < 360 %}
    lectura de 1 minuto
  {% else %}
    lectura de {{ words | divided_by:180 }} minuto
  {% endif %}
{% endif %}
