<!doctype html>
<html>

{% include head.html %}

<body>

  <div class="container">
    {% include header.html %}

    <div class="post-container">
      {{ content }}
    </div>

    {% include footer.html %}

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- Blur load images-->
  <script src="https://cdn.jsdelivr.net/npm/progressively/dist/progressively.min.js"></script>
  <!-- Quicklink prefecth link -->
  <script src="{{ site.github.url }}/assets/js/quicklink/dist/quicklink.umd.js"></script>
  <!-- PWA functionality -->
  <script async src="{{ site.github.url }}/assets/js/main.js" type="text/javascript"></script>
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
      });
  </script>
</body>
</html>
